@charset "UTF-8";

body{
	height: 100vh;
	width: 100vw;
	background-image: url('/public/media/1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heading{
	color:white;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 10px black;
}

.container {
    width:40vw;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}

label{
	margin:0 8px 0;
}

.input-blank-error {
	border: 3px solid #19b9e7;
}

.input-validation-error {
	border: 3px solid red;
}

.passValidation{
	border: 3px solid yellowgreen;
}


