<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>title</title>
<link rel="stylesheet" type="text/css" th:href="@{/public/css/login.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.css}" />
<script th:src="@{/public/js/login.js}" defer></script>
<script th:src="@{/bootstrap-5.2.0-dist/js/bootstrap.bundle.js}"></script>
</head>
<body class="d-flex align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="form-box col-sm-4">
				<div class="form-top">
					<div class="form-top-left">
						<h3>로그인</h3>
						<p>Enter ID and password to log on:</p>
					</div>
					<div class="form-top-right">
						<i class="bi bi-door-open"></i>
					</div>
				</div>
				<div class="form-bottom">
					<form action="/user/login.do" method="post" class="login-form" name="loginForm">
						<div class="form-group">
							<input type="text" name="user_id" 
								placeholder="ID..." class="form-username form-control"
								data-bs-toggle="popover" data-bs-placement="right">
						</div>
						<div class="form-group">
							<input type="password" name="user_pw"
								placeholder="Password..." class="form-password form-control" 
								data-bs-toggle="popover" data-bs-placement="right">
						</div>
						<button type="submit" class="btn btn-primary">Sign in!</button>
					</form>
				</div>
			</div>
		</div>

	</div>

</body>
</html>