<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>이용권 상세</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/public/css/ticketConfig.css}" />
</head>
<body>
	  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary"> 이용권 종류 목록 </a></li>
        </ul>
      </div>
    </div>
  </header>
	<main>
		<h1 class="m-3">
			<span></span>
		</h1>
		<p> 이용권 no :
		</p>
		<p>
			이용권 가격 :
		</p>
		<p>
			이용권 종류 :
		</p>
		<p>
			이용권 기간 :
		</p>
		<p>
			가맹점 이름 :
		</p>
		<div class="m-3">
		</div>
		<div class="row mb-3 g-3 align-items-center">
				<div class="col-auto">
					<button type="reset" class="btn btn-light">초기화</button>
				</div>	
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">제출</button>
				</div>	

	</main>
	
</body>
</html>